body{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}

#movieTitles{
	width:500px;
	height:700px;
	overflow: scroll;
}

.video{
	width:500px;
}

#notes{
	height:250px;
}

#notesoutput{
	height:100px;
}

#videoClickedPanel{
	height:300px;
}
#videoClicked{
	height:250px;
	width:350px;
}